/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

/*site centré*/
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.main-box {
    display: flex;
    flex-direction: column;
    gap:35px; 
}

/*conteneur qui prend toute la page*/
.main-container {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box; /* Les dimensions incluent padding, margin et bordures. Utile en responsive notamment */ 
}

a {
    color: inherit; /* hérite de la couleur de l'élément parent*/
    text-decoration: none; /* pas de couleur bien du lien par défaut */
}

.section-title {
    margin: 0;
    font-size: 22px;
}

/*forme des cadres*/
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

/*etalement des images dans les cadres*/
.card img {
    object-fit: cover;
}

/*taille de la police dans les cards*/
.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

h1 {
    font-family: Raleway;
    font-weight: 700px;
    font-size: 22px;
    line-height: 25.83px;
    letter-spacing: 0%;
    margin:0; /*provoque des décalages sinon */
}

h2 {
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
    letter-spacing: 0%;
}

h3 {
    font-family: Raleway;
    font-weight: 700;
    font-size: 16px;
    line-height: 18.78px;
    letter-spacing: 0%;

}

p {
    font-family: Raleway;
    font-weight: 400px;
    font-size: 14px;
    line-height: 18.78px;
    letter-spacing: 0%;
    margin: 0;
}

/**** Header ****/
/*espacement entre le logo et les liens de navigation dans le header*/

.nav-container {
    display: flex;
    align-items: flex-start ;
    justify-content: space-between;
    margin-top: -6px; /* fait remonter le sur-conteneur des liens de navigation pour que la barre touche le bord de l'écran, je n'ai pas trouvé mieux*/
}

/*emplacement et taille des liens de navigations en haut à droite*/
.hebergements-activites { 
    display: flex;
    gap: 30px;
}

/* Cache sur desktop les deux barres grises affichées sur mobile*/
.barre-grise-droite, .barre-grise-gauche {
    display: none;
}

/*propriétés des liens dans le header*/

/* Barre bleue et texte bleu au survol */
.hebergements-activites a:hover {
    color: var(--main-color); /* Le texte devient bleu au survol */
    border-top: 2px solid var(--main-color); /* Bordure bleue au survol */
    margin-top: -2px; /* évite le décalage de texte au survol */
}

.hebergements-activites p {
    margin-top: 8px; /* Abaisse les liens de navigations pour qu'ils ne soient pas trop proche du bord de l'écran*/
}

.logoBooki {
    display: flex;
    align-items: center;
    height: 79px;
}

/*logo booki*/
.logoBooki img {
    width: 61px;
    height: 19px;
}


/***groupe qui va du header aux hebergements et qui contient : h1+p+barre de recherche+filtres+i informatif***/
.info-group {
    display:flex;
    flex-direction: column;
    gap: 35px;
}

/*h1 et paragraphe dans la partie informative*/
.head-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/**Barre de recherche**/

/*position et taille de la barre de recherche**/
.search-bar {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 377px;
    height: 49px;
    background: #FFFFFF;
    border: 1px solid var(--main-bg-color);
    border-radius: 15px;
}

/*fond gris sous le location-dot*/
.location {
    background-color: var(--main-bg-color);
    width: 50px; 
    height: 49px; 
    border-radius: 15px 0 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0; /*empeche l'ecrasement du fond gris par la barre de recherche, celle ci-rétrécit au besoin */
}

/*location dot*/
.fa-location-dot {
    font-size: 18px;
    color: #000000;
}

/*cadre de la zone de texte préremplie de la barre de recherche*/
.search-bar input {
    flex: 1;
    padding: 10px;
    border: none; /* supprime la bordure */
    outline: none; /* supprime la bordure au survol */
}
/*bouton rechercher*/
.search-bar button {
    width: 132px;
    height: 49px;
    padding: 15px 16px;
    gap: 10px;
    border-radius: 0 15px 15px 0;
    border: 1px solid var(--main-color);
    background: var(--main-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
}

/*action au survol, sans cela, pas d'interaction avec le bouton rechercher, moins intuitif pour l'utilisateur*/
.search-bar button:hover {
    background: #0056b3;
}

/*police de "Marseille France" dans le placeholder*/
.search-bar input::placeholder {
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
    letter-spacing: 0%;
    text-align: center;
    color: #000000;
}

/*ici le span correspond à l'icone de loupe, cachée par défaut, que l'on dévoile sur écran plus petit*/
.search-bar input span {
    display: none;
}

/* Cacher l'icône de la loupe sur les écrans larges (PC) */
.loupe-icon {
    display: none;
}

/* Cacher le texte "Rechercher" sur les écrans mobiles */
.text-button {
    display: inline;
}

/* Texte + le logo i */
.text-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

/*logo i entouré*/
.text-info .borderIcon {
    min-height: 24px;
    min-width: 24px;
    border: 2px solid var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.fa-info {
    font-size: 11px;
}

/*** Partie filtres ***/

.filter-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap : 15px;
}

.filter-box {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}


/* Propriétés des boutons*/
.filter-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    height: 50px;
    padding: 4px 19px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    background-color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: #000;
}

.filter-button:hover {
    background-color: var(--filter-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    gap: 40px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

/*gros cadre qui prend les 6 sous cadres*/

.hebergements {
    width: 68%;;
}

/* Premiere card */

.hebergements-title {
    display: flex;
    align-items: flex-start;
    margin: 0;
}

.hebergements a {
    width: 30%;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergements-cards .card {
    margin-top: 33px;
}

.hebergements-cards img {
    width: 100%;
    max-height: 124px;
    border-radius: 20px 20px 0 0 ;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-radius: 20px 0 0 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.more-title h2 {
    margin-top: 33px;
}


/***** Activités à Marseille *****/

.activites-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.activites-container h1{
    margin-bottom: 30px;
}

/* Conteneur principal des cartes */
.activites-container .card-container {
    display: flex;
    flex-wrap: wrap; /* Retour à la ligne si nécessaire */
    gap: 30px; /* Espace entre les cartes */
}

/* Liens (cards) */
.activites-container a {
    display: flex;
    flex-direction: column;
    flex: 1 ; /* toutes les cards ont la même taille */
    border-radius: 20px;
}

/* Contenu des cartes */
.activites-container .card {
    height: 439px;
    display: flex;
    flex-direction: column;
    filter: drop-shadow (0px 3px 15px 0px #0000001A);
}

/* Image dans les cartes */
.activites-container img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-container .card-txt {
    display: flex;
    align-items: center;
    width: 100%;
    height: 59px;
    padding-left: 19px;
}

/***Footer***/

.footer-container {
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si nécessaire */
    justify-content: flex-start; /* Aligne à gauche */
    gap: 10%; /* Espacement flexible entre les sections */
    max-width: 1440px;
    padding: 20px;
    background-color: var(--main-bg-color);
}

.footer-section {
    flex: 1; /* Permet aux sections de prendre une largeur flexible */
    min-width: 200px; /* Empêche les sections de devenir trop petites */
    max-width: 300px; /* Évite que les sections soient trop grandes */
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/


/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

@media (max-width: 767.98px) {

    .main-container { /*prend toute la largeur de l'écran pour un meilleur affichage mobile*/
        padding: 0;
    }

    body {
        margin: 0;
    }
    
    .info-group, .text-info {
        margin-left: 8px;
        margin-right: 8px;
    }

    header {
        margin-top: 8px;
    }

/*** Partie responsive nav ***/

    .nav-container {
        flex-direction: column;
        align-items: center;
    }

    .nav-container a {
        margin-bottom: 8px;
    }

    .main-box {
        gap: 15px;
    }

    /* Pour centrer les liens sur mobile */
    .hebergements-activites {
        display: flex;
        justify-content: space-around; /* Centrer les éléments horizontalement */
        align-items: center; /* Centrer verticalement */
        width: 100%; /* S'assure que l'élément prend toute la largeur disponible */
        gap: 0; /* Retire l'espacement si nécessaire pour éviter tout décalage */
        position: relative; /* Pour positionner les barres en bas */
    }

    /* Propriétés des liens dans le header */
    .hebergements-activites a {
        text-decoration: none; /* Pour enlever le soulignement des liens */
        color: black; /* Change la couleur des liens */
        position: relative; /* Nécessaire pour positionner la barre au-dessus */
        flex: 1; /* Permet à chaque lien de prendre une largeur équivalente */
        text-align: center; /* Centre le texte dans chaque lien */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hebergements-activites a:hover {
        border-top: none;
        padding-top: 2px; /* empêche le décalage du texte au survol*/
    }

    /* Les deux barres grises prennent chacune 50% de la largeur */
    .barre-grise-gauche, .barre-grise-droite {
        display: inline;
        position: absolute;
        bottom: 0;
        height: 3px; /* Hauteur de la barre */
        background-color: var(--main-bg-color); /* Couleur grise */
        width: 50%; /* Chaque barre grise prend 50% de la largeur */
    }

    /* Barre à gauche */
    .barre-grise-gauche {
        left: 0; /* La barre est positionnée à gauche */
    }

    /* Barre à droite */
    .barre-grise-droite {
        right: 0; /* La barre est positionnée à droite */
    }

    /* Lorsqu'on survole "Hébergements", la barre de gauche devient bleue */
    .hebergement-link:hover ~ .barre-grise-gauche { /** l'utilisation de "~" permet de prendre un élément frère, au lieu d'un enfant**/
        background-color: var(--main-color); /* Couleur bleue */
    }

    /* Lorsqu'on survole "Activités", la barre de droite devient bleue */
    .activites-link:hover ~ .barre-grise-droite {
        background-color: var(--main-color); /* Couleur bleue */
    }
    
    /*** Partie responsive barre de recherche ***/

    .loupe-icon {
        display: inline-block;  /* Afficher l'icône sur mobile */
    }

    .text-button {
        display: none;  /* Cacher le texte sur mobile */
    }

    .search-bar {
        width: 335px;
        height: 49px;
        border-radius: 15px;
        border-width: 1px;
        }
    
    .search-bar button {
        width: 49px;
        height: 49px;
        border-radius: 15px;
        box-shadow: 0px 4px 4px 0px #00000040;
    }

    .filter-container {
        display: flex;
        align-items: flex-start;  /* Aligne tout à gauche */
        gap: 20px;  /* Ajoute un espace entre les éléments */
        flex-direction: column;
    }

    .filter-box{
        display: flex;
        flex: 1;
    }

    .filter-button {
        width: 47%;
        margin: 0;  /* Enlève les marges autour des boutons */
    }
    .text-info p {
        display: flex;
        flex-wrap: wrap;
    }

    /*** Parties cards ***/

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
        gap :15px
    }

    .hebergements-and-populaires .populaires-cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
    }
    .hebergements-and-populaires section {
        border-radius: 0;
        padding: 30px 20px;
        margin-top: 15px;

    }

    .hebergements-and-populaires a {
        width: 100%;
    }

    .hebergements-and-populaires .hebergements {
        background-color: #FFFFFF;
        margin-top: 0;
    }

    .populaires-cards .card {
        margin-top: 15px;    
    }

    .hebergements-cards .card {
        margin-top: 15px;
    }

    .activites-container .card-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center; /* Centre les cartes */
    }

    .activites-container a {
        max-width: 335px;
        width: 100%; /* Définit une largeur uniforme */
    }


    .activites-container .card {
        height: auto; /* S'ajuste au contenu */
        margin: 0;
        padding: 0;
    }

    .activites-container img {
        height: 141px; /* Redimensionne l'image pour ne pas être trop grande */
    }

    .activites-container .card-txt {
        height: 50px; /* Ajuste la hauteur du texte */
    }
}

    /* ... */