/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.textInfo .borderIcon {
    min-height: 25px;
    min-width: 25px;
    border: 2px solid #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:35px; /*espacement entre : header, infogroup, card, activités et footer*/
}

/*conteneur qui prend toute la page*/
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    margin: auto;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

/*forme des cadres*/
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

/*etalement des images dans les cadres*/
.card img {
    object-fit: cover;
}

/*taille de la police dans les cadres*/
.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

h1 {
    font-family: Raleway;
    font-weight: 700px;
    font-size: 22px;
    line-height: 25.83px;
    letter-spacing: 0%;
    margin-bottom: 0px;
}

h2 {
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
    letter-spacing: 0%;
}

p {
    font-family: Raleway;
    font-weight: 400px;
    font-size: 16px;
    line-height: 18.78px;
    letter-spacing: 0%;
}

/**** Header ****/
/*espacement entre le logo et les liens de navigation dans le header*/

nav {
    display: flex;
    align-items: center ;
    justify-content: space-between;
    margin-bottom: 40px;
    position: relative;
}

/*emplacement et taille des liens de navigations en haut à droite*/
.hebergementsEtActivités { 
    display: flex;
    justify-content: flex-end; /* Aligne les éléments à droite */
    align-items: flex-start; /* Aligne les éléments en haut */
    gap: 30px;
}


/*propriétés des liens dans le header*/

/* Barre bleue et texte bleu au survol */
.hebergementsEtActivités a:hover {
    color: #0065FC; /* Le texte devient bleu au survol */
    border-top: 2px solid #0065FC; /* Bordure bleue au survol */
    margin-top: -2px;
}

/*logo booki*/
.logoBooki {
    width: 61px;
    height: 19px;
}

/***groupe qui va du header aux hebergements et qui contient : h1+p+barre de recherche+filtres+i informatif***/
.infoGroup {
    display:flex;
    flex-direction: column;
    gap: 8px;
}

/*h1 et paragraphe dans la partie informative*/
.headInfo {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

/**Barre de recherche**/

/*position et taille de la barre de recherche**/
.search-bar {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 377px;
    height: 49px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
}

/*fond gris sous le location dot*/
.location {
    background-color: #F2F2F2;
    width: 50px; 
    height: 49px; 
    border-top-left-radius: 15px; 
    border-bottom-left-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0; /*empeche l'ecrasement du fond gris*/
}

/*location dot*/
.fa-location-dot {
    font-size: 18px;
    color: #000000;
}

/*cadre de la zone de texte préremplie de la barre de recherche*/
.search-bar input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
}
/*bouton rechercher*/
.search-bar button {
    z-index: 2;  /* Assure que le bouton est au-dessus */
    width: 132px;
    height: 49px;
    padding-top: 15px;
    padding-right: 16px;
    padding-bottom: 15px;
    padding-left: 16px;
    gap: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid #0065FC;
    background: #0065FC;
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
    pointer-events: auto; /* Assure que le bouton peut être cliqué */
}

/*action au survol*/
.search-bar button:hover {
    background: #0056b3;
}

/*police de "Marseille France" dans le placeholder*/
.search-bar input::placeholder {
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
    letter-spacing: 0%;
    text-align: center;
    color: #000000;
}

/*ici le span correspond à l'icone de loupe, cachée par défaut, que l'on dévoile sur écran plus petit*/
.search-bar input span {
    display: none;
}

/*logo i + texte*/
.textInfo {
    display: flex;
    align-items: center;
    gap: 10px;
}

/*** Partie filtres ***/

.conteneurFiltres {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    gap : 15px;
}

.filtreBox {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 15px;
    gap : 15px;
}


/* Propriétés des boutons*/
.bouton {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;

    height: 50px;
    padding: 4px 19px;

    border: 2px solid #D9D9D9;
    border-radius: 25px;
    background-color: #FFFFFF;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: #000;
    

}


.bouton:hover {
    background-color: var(--filter-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

/*gros cadre qui prend les 6 sous cadres*/

.hebergements {
    width: 65%;
}


/* Premiere card */

.hebergements-title {
    display: flex;
    align-items: flex-start;
    margin: 0;
}

.hebergements a {
    width: 30%;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.hebergements-cards .card {
    margin-top: 33px;
}


.hebergements-cards img {
    width: 100%;
    max-height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.more-title {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    box-shadow: 0px 3px 15px 0px #0000001A;

}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/* Cacher l'icône de la loupe sur les écrans larges (PC) */
.loupe-icon {
    display: none;
}

/* Cacher le texte "Rechercher" sur les écrans mobiles */
.text-button {
    display: inline;
}



/***** Activités à Marseille *****/

.activitesMars {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

/* Conteneur principal des cartes */
.activitesMars .cardContainer {
    display: flex;
    flex-wrap: wrap; /* Retour à la ligne si nécessaire */
    gap: 30px; /* Espace entre les cartes */
    justify-content: space-around;
}

/* Liens (cards) */
.activitesMars a {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(25% - 30px); /* 4 cartes par ligne avec gap */
    max-width: calc(25% - 30px);
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px #0000001A;
}

/* Contenu des cartes */
.activitesMars .card {
    height: 439px;
    display: flex;
    flex-direction: column;
}

/* Image dans les cartes */
.activitesMars img {
    width: 100%;
    height: 380px;
    object-fit: cover; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activitesMars .card-txt {
    display: flex;
    align-items: center;
    width: 100%;
    height: 59px;
    padding-left: 19px;

}
/***Footer***/


.footer-container {
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si nécessaire */
    justify-content: flex-start; /* Aligne à gauche */
    gap: 10%; /* Espacement flexible entre les sections */
    max-width: 1440px;
    padding: 20px;
    background-color: #f2f2f2;
}

.footer-section {
    flex: 1; /* Permet aux sections de prendre une largeur flexible */
    min-width: 200px; /* Empêche les sections de devenir trop petites */
    max-width: 300px; /* Évite que les sections soient trop grandes */
}



.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 15px;
}





/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/


/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

@media (max-width: 767.98px) {

    .main-container { /*prend toute la largeur de l'écran pour un meilleur affichage mobile*/
        padding: 0;
    }

    h1 {
        margin-top: 20px;
    }

/*** Partie responsive nav ***/

    nav {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    .logoBooki {
        margin-bottom: 20px; /* Espacement avec les liens */
    }

    /* Pour centrer les liens sur mobile */
    .hebergementsEtActivités {
        display: flex;
        justify-content: space-around; /* Centrer les éléments horizontalement */
        align-items: center; /* Centrer verticalement */
        width: 100%; /* S'assure que l'élément prend toute la largeur disponible */
        gap: 0; /* Retire l'espacement si nécessaire pour éviter tout décalage */
        position: relative; /* Pour positionner les barres en bas */
    }



    /* Propriétés des liens dans le header */
    .hebergementsEtActivités a {
        text-decoration: none; /* Pour enlever le soulignement des liens */
        color: black; /* Change la couleur des liens */
        position: relative; /* Nécessaire pour positionner la barre au-dessus */
        flex: 1; /* Permet à chaque lien de prendre une largeur équivalente */
        text-align: center; /* Centre le texte dans chaque lien */
        display: flex;
        justify-content: center;
        align-items: center;
    }

  

    .hebergementsEtActivités a:hover {
        border-top: none;
        padding-top: 2px; /* empêche le décalage du texte au survol*/
        
    }

    /* Les deux barres grises prennent chacune 50% de la largeur */
    .barre-grise-gauche, .barre-grise-droite {
        position: absolute;
        bottom: 0;
        height: 3px; /* Hauteur de la barre */
        background-color: #f2f2f2; /* Couleur grise */
        width: 50%; /* Chaque barre grise prend 50% de la largeur */
    }

    /* Barre à gauche */
    .barre-grise-gauche {
        left: 0; /* La barre est positionnée à gauche */
    }

    /* Barre à droite */
    .barre-grise-droite {
        right: 0; /* La barre est positionnée à droite */
    }

    /* Lorsqu'on survole "Hébergements", la barre de gauche devient bleue */
    .hebergement-link:hover ~ .barre-grise-gauche { /** l'utilisation de "~" permet de prendre un élément frère, au lieu d'un enfant**/
        background-color: #0065FC; /* Couleur bleue */
    }

    /* Lorsqu'on survole "Activités", la barre de droite devient bleue */
    .activites-link:hover ~ .barre-grise-droite {
        background-color: #0065FC; /* Couleur bleue */
    }
    

    /*** Partie responsive barre de recherche ***/

    .loupe-icon {
        display: inline-block;  /* Afficher l'icône sur mobile */
    }

    .text-button {
        display: none;  /* Cacher le texte sur mobile */
    }

    .search-bar {
        width: 335px;
        height: 49px;
        border-radius: 15px;
        border-width: 1px;
    
        }
    
    .search-bar button {
        width: 49px;
        height: 49px;
        border-radius: 15px;
        box-shadow: 0px 4px 4px 0px #00000040;

    }

    .conteneurFiltres {
        display: flex;
        align-items: flex-start;  /* Aligne tout à gauche */
        gap: 20px;  /* Ajoute un espace entre les éléments */
        flex-direction: column;
    }

    .filtreBox {
        display: flex;
        flex: 1;
    }

    .boutonsFiltres {
        display: flex;
        flex-wrap: wrap;  /* Permet aux boutons de passer sur deux lignes */
        gap: 15px;
    }

    .bouton {
        width: 47%;
        margin: 0;  /* Enlève les marges autour des boutons */
    }
    .textInfo p {
        display: flex;
        flex-wrap: wrap;
    }


}

    /* ... */